body {
  background-color: #333333;
}

.chess-page-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  gap: 20px;
}

.chess-board {
  background-color: white;
  width: calc(100vh - 40px);
  height: calc(100vh - 40px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.notation-interface {
  background-color: #d2b48c;
  width: 22vw;
  max-width: 300px;
  height: calc(100vh - 40px);
  border-radius: 8px;
  padding: 10px;
  margin-left: 20px;
  overflow-y: auto;
}

.chat-interface {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 400px;
  height: calc(100vh - 40px);
  margin-left: 40px;
}

.chat-display {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #444444;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Custom Scrollbar for Chat Display */
.chat-display::-webkit-scrollbar {
  width: 8px; /* Wider scrollbar */
}

.chat-display::-webkit-scrollbar-thumb {
  background-color: #666666; /* Gray color for better visibility */
  border-radius: 4px; /* Rounded edges */
}

.chat-bubble {
  margin: 5px 0;
  padding: 10px;
  background-color: #666666;
  color: white;
  border-radius: 10px;
  width: 100%;
  word-break: break-word;
}

.chat-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #444444;
  padding: 10px;
  border-radius: 8px;
}

.chat-input {
  flex-grow: 1;
  background-color: #555555;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  max-height: 80px;
  overflow-y: auto;
  resize: none;
}

.chat-input::placeholder {
  color: #bbbbbb;
}

.send-button {
  background-color: #666666;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.send-button:hover {
  background-color: #888888;
}
