body {
  background-color: #333333 !important;
}

.chess-page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.chat-interface {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: clamp(300px, 400px, 500px);
  overflow-y: auto;
  height: 100%;
}

.chat-display {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #444444;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-bubble {
  margin: 5px 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 85%;
  word-break: break-word;
  user-select: text;
}

.chat-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #444444;
  padding: 10px;
  border-radius: 8px;
}

.chat-input {
  flex-grow: 1;
  background-color: #555555;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  max-height: 80px;
  overflow-y: auto;
  resize: none;
}

.chat-input::placeholder {
  color: #bbbbbb;
}

.send-button {
  background-color: #666666;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.send-button:hover {
  background-color: #888888;
}

.user-bubble {
  align-self: flex-end;
  background-color: #666666;
}

.bot-bubble {
  align-self: flex-start;
  background-color: #555555;
}

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #666666;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.on {
  background-color: #4caf50;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch.on .toggle-circle {
  transform: translateX(25px);
}

.follow-chat-toggle {
  color: white;

}